.contenido-perfil{
    margin: auto;
    width: 80%;
    
}
.contenido-perfil img{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
    max-width: 300px;  
    
    
}

.contenido-perfil .avatar{
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.perfil-img p{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
h3{
    font-size: 16px;
   text-align: left;
}

.perfil-img input{
    margin-top: 5px;
}
.perfil-datos-usuario form .campo-perfil{
    margin-top: 15px;
}
.perfil-datos-usuario form .campo-perfil input{
    padding: 2%;
}

.perfil-datos-usuario form button{
    margin-top: 20px;
}
@media (min-width:800px){

    .perfil-datos-usuario form{
        border-left: 1px solid #001047;
        border-bottom: 1px solid #021146;
        height: auto;
        width: 66%;
       padding: 7px;
    }
    .perfil-datos-usuario {
        margin-top: 35px;
    }
    
}