<h3 class="titulo-ofertas">¡Ofertas!</h3>
<section class="ofertas">

    <% for(let i=0;i<sale.length;i++){ %>
     
        
           
 
     
 

     <article>
        
        <img src="/images/<%=sale[i].image%>"alt="">

        <div class="nombre-precio-mas">

        <p class="nombre"><%= sale[i].name%></p>
        <p class="precio"><%= sale[i].price%></p>
        <p class="ver-mas"><a href="/products/<%=sale[i].id%>">Ver mas</a></p>
    </div>

    </article>
   
     <% } %>

</section>